#nav li {
    float: left;
    font-weight: bold;
}

#nav li a {
    display: inline-block;
    padding: 8px;
    font-size: 18px;
    margin-left: 9px;
}

#nav ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

.innerbody {
    margin-left: 3%;
    width: 94%;
    background-color: palegreen;
}