<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <td>Registration Number*</td>
                    <td>:</td>
                    <td><input type="text" placeholder="{{regNumPlaceHolder}}" class="{{regNumClass}}" [(ngModel)]="vehicleModel.regNum"></td>
                </tr>
                <tr>
                    <td>Type*</td>
                    <td>:</td>
                    <td><select [(ngModel)]="vehicleModel.type" class="dropDown">
                        <option value="BUS">Bus</option>
                        <option value="TRUCK">Truck</option>
                        <option value="SUV">Suv</option>
                        <option value="SEDAN">Sedan</option>
                        <option value="COUPE">Coupe</option>
                        <option value="VAN">Van</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Active Status*</td>
                    <td>:</td>
                    <td><select [(ngModel)]="vehicleModel.activeStatus" class="dropDown">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select></td>
                </tr>
                <tr>
                    <td>DutyStatus*</td>
                    <td>:</td>
                    <td><select [(ngModel)]="vehicleModel.dutyStatus" class="dropDown">
                            <option value="ONBREAK">On Break</option>
                            <option value="OFFDUTY">Off Duty</option>
                            <option value="ONDUTY">On Duty</option>
                        </select></td>
                </tr>
            </table>
            <input type="button" value="Add" (click)="postVehicle()" class="btn btn-primary">
            <br>
             <br>
            <table *ngIf="edit">
                <tr>
                    <td>Id*</td>
                    <td>:</td>
                    <td><input type="text" [(ngModel)]="editedVehicle.id" disabled></td>
                </tr>
                <tr>
                    <td>Registration Number*</td>
                    <td>:</td>
                    <td><input type="text" placeholder="{{regNumPlaceHolder}" [(ngModel)]="editedVehicle.regNum" disabled></td>
                </tr>
                <tr>
                    <td>Type*</td>
                    <td>:</td>
                    <td><input type="text" placeholder="{{typePlaceHolder}}" [(ngModel)]="editedVehicle.type" disabled></td>

                </tr>
                <tr>
                    <td>Name*</td>
                    <td>:</td>
                    <td><input type="text" [(ngModel)]="editedVehicle.name" disabled></td>
                </tr>
                <tr>
                    <td>Active Status* </td>
                    <td>:</td>
                    <td><select [(ngModel)]="editedVehicle.activeStatus" class="dropDown">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select></td>
                </tr>
                <tr>
                    <td>DutyStatus* </td>
                    <td>:</td>
                    <td><select [(ngModel)]="editedVehicle.dutyStatus" class="dropDown">
                            <option value="ONBREAK">On Break</option>
                            <option value="OFFDUTY">Off Duty</option>
                            <option value="ONDUTY">On Duty</option>
                        </select></td>
                </tr>
            </table>
            <input type="button" value="Save" (click)="putVehicle()" *ngIf="edit" class="btn btn-primary">
            <input type="button" value="Cancel" (click)="putCancel()" *ngIf="edit" class="btn btn-danger">
        </div>

        <div class="col-md-8">
            Search By :
            <select [(ngModel)]="searchBy">
                <option value="anyField">All</option>
                <option value="id">ID</option>
                <option value="regNum">Reg Num</option>
                <option value="name">Name</option>
                <option value="type">Type</option>
                <option value="activeStatus">Active Status</option>
                <option value="dutyStatus">Duty Status</option>
            </select>
            <input type="text" placeholder="Search" [(ngModel)]="searchValue">
            <input type="button" value="Search" (click)="searchVehicle()" class="btn btn-primary">
            <table class="table table-striped">
                <tr class="tablehead">
                    <td>ID</td>
                    <td>Reg Num</td>
                    <td>Name</td>
                    <td>Type</td>
                    <td>ActiveStatus</td>
                    <td>DutyStatus</td>
                    <td>Edit</td>
                    <td>Remove</td>
                </tr>
                <tr *ngFor="let vehicle of vehicleList">
                    <td>{{vehicle.id}}</td>
                    <td>{{vehicle.regNum}}</td>
                    <td>{{vehicle.name}}</td>
                    <td>{{vehicle.type}}</td>
                    <td>{{vehicle.activeStatus}}</td>
                    <td>{{vehicle.dutyStatus}}</td>
                    <td><input type="button" value="Edit" (click)="putButton(vehicle)" class="btn btn-primary"></td>
                    <td><input type="button" value="Remove" (click)="deleteVehicle(vehicle.id)" class="btn btn-danger"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="isError" class="errorMessage">
        ErrorCode : {{errorMessage.errorCode}}
    </div>
    <div class="row" *ngIf="isError" class="errorMessage">
        ErrorDesc : {{errorMessage.errorDesc}}
    </div>
</div>